body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

form > * {
  width: 100%;
  margin: 10px 0;
  padding: 7px;
  box-sizing: border-box;
}

p {
  text-align: center;
  font-size: 25px;
}

.success {
  color: green;
}

.error {
  color: tomato;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}